body {
    font: 12px/1.5em "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
    color: #999;
    background: #f2f2f2;
}

.nav {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #f5f5f5;
}

.nav a {
    color: #666;
}

.nav li {
    height: 100%;
    margin: 0 10px;
    float: left;
}

.nav_left li:first-child {
    margin-left: 0px;
}

.nav_right li:last-child {
    margin-right: 0;
}

.nav a > i {
    display: inline-block;
    transition: all 1s;
}

.nav a:hover i {
    transform: rotateZ(-180deg);
}

.header {
    background: #FFFFFF;
}

.header_top {
    height: 110px;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    padding-top: 5px;
}

.header_top .logo img {
    height: 90px;
    width: 190px;
}

.header_top .ad {
    width: 160px;
    height: 100px;
}

.header_top_right {
    height: 100%;
}

.header_top_right form {
    margin-top: 30px;
    position: relative;
}

.header_top_right input[type='text'] {
    width: 420px;
    height: 44px;
    border: 2px solid #f90;
    box-sizing: border-box;
    padding-left: 28px;
    outline: none;
}

.header_top_right input[type='submit'] {
    width: 120px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #f90;
    border: none;
    outline: none;
}

.header_top_right .search {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 20px;
}

.header_top_right ul > li {
    float: left;
    margin: 5px 5px 0 5px;
}

.header_top_right ul > li > a {
    color: rgba(204, 204, 204, 1);
}

.header_bottom {
    height: 38px;
    line-height: 38px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.header_bottom_left {
    height: 100%;
    width: 190px;
    background: #f90;
}

.header_bottom_left a {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.header_bottom_left a > i {
    margin: 0 5px;
}

.header_bottom li {
    float: left;
    position: relative;
    margin: 0 13px;
}

.header_bottom li > a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.header_bottom li > a:hover {
    color: #f90;
}

.header_bottom li > a > i {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url("./../images/icons.png") no-repeat;
    background-position: -345px -213px;
    position: absolute;
    right: -15px;
    top: -5px;
}

.header_bottom span {
    display: inline-block;
    visibility: hidden;
    width: 25px;
    height: 8px;
    background: url("./../images/icons.png") no-repeat;
    background-position: -37px 0;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}

.header_bottom li:hover span {
    visibility: visible;
    bottom: 0;
}

.banner {
    width: 100%;
    height: 482px;
    background: #ff8c22;
}

.banner_in {
    display: flex;
    justify-content: space-between;
}

.banner_left {
    height: 100%;
    background: black;
    width: 190px;
}

.banner_left ul > li {
    margin: 0 10px;
    height: 32px;
    line-height: 32px;
}

.banner_left ul > li > a {
    font-size: 13px;
    color: #fff;
    margin: 0 2px;
}

.banner_left ul > li > a:hover {
    color: #f90;
}

.banner_middle {
    width: 830px;
    height: 100%;
    background: url("./../images/banner.jpg");
    position: relative;
}

.banner_middle .swiper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 64px;
}

.swiper span {
    display: inline-block;
    width: 30px;
    height: 64px;
    background: white;
    background: url("./../images/icons.png") no-repeat;
    background-position: -82px -145px;
}

.swiper span:nth-child(2) {
    background-position: -120px -145px;
}

.banner_middle ol {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 323px;
}

.banner_middle ol > li {
    float: left;
    width: 20px;
    height: 20px;
    background: url("./../images/icons.png") no-repeat;
    background-position: -26px -100px;
    margin: 0 4px;
}

.banner_middle ol > li:first-child {
    background-position: 0 -100px;
}

.banner_middle ul {
    width: 816px;
    height: 122px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.banner_middle ul > li {
    background: #fff;
    width: 202px;
    height: 122px;
    padding: 10px;
    box-sizing: border-box;
}

.banner_middle ul > li > h3 {
    font-size: 17px;
    font-weight: bold;
    color: rgb(239, 65, 36);
}

.banner_middle ul > li > p {
    font-size: 14px;
}

.banner_middle ul > li > img {
    float: right;
    margin-top: -10px;
}

.banner_right {
    height: 100%;
    width: 170px;
    background: #fff;
}

.banner_right .banner_right_top {
    width: 100%;
    height: 169px;
    text-align: center;
}

.banner_right_top > i {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url("./../images/icons.png") no-repeat;
    background-position: -93px -23px;
    margin-top: 10px;
}

.banner_right_top p {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
    box-sizing: border-box;
}

.banner_right_top .btn span {
    display: inline-block;
    width: 70px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #f90;
    color: #f90;
}

.banner_right_top .enter span {
    display: inline-block;
    width: 70px;
    height: 18px;
    background: url("./../images/icons.png") no-repeat;
    background-position: -670px -256px;
}

.banner_right_top .enter span:nth-child(2) {
    background-position: -670px -288px;
}

.banner_right_top .btn span:nth-child(2) {
    background: url("./../images/icons.png") no-repeat;
    background-position: -295px -251px;
}

.banner_right .banner_right_middle {
    width: 100%;
    height: 166px;
    padding: 0 10px;
    box-sizing: border-box;
}

.banner_right_middle li {
    padding-top: 10px;
}

.banner_right_middle li a {
    color: #333;
    line-height: 20px;
}

.banner_right_middle li a > i {
    font-style: normal;
    color: #f90;
}

.banner_right_middle li a:hover {
    color: #f90;
}

.banner_right .banner_right_bottom {
    width: 100%;
    height: 147px;
    overflow: hidden;
}

.banner_right_bottom ul {
    width: 171px;
}

.banner_right_bottom ul > li {
    float: left;
    height: 74px;
    width: 57px;
    text-align: center;
    border-right: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    box-sizing: border-box;
}

.banner_right_bottom ul > li > a {
    color: #333;
}

.banner_right_bottom ul > li > a > i {
    margin-top: 30px;
    display: inline-block;
    color: #f90;
    font-size: 30px;
}

.skckill{
    width: 100%;
    height: 307px;
    margin-top: 20px;
}

.skckill_top{
    height: 47px;
    line-height: 47px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: left;
    position: relative;
}
.skckill_top>img{
    width: 83px;
    height: 20px;
    margin: 13px 20px 0 20px;

}
.skckill_top>span{
    color: #333;
    margin-right: 20px;
}
.skckill_top b{
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.skckill_top>p>span{
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 5px;
}
.skckill_top>ul{
    margin-left: 20px;
    margin-top: 11px;
}
.skckill_top>ul>li{
    float: left;
    width: 133px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #333;
}
.skckill_top>ul>li:nth-child(1){
    background: url("./../images/icons.png") no-repeat;
    background-position: -561px 0;
    color: #fff;
}
.skckill_top>a{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #f0f0f0;
}
.skckill_top>a>i{
    margin-left: 5px;
    position: absolute;
    top: 1px;
}

.skckill_bottom{
    height: 240px;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    background: white;
}
.skckill_bottom ul>li{
    float: left;
    width: 200px;
    height: 240px;
    border-right: 1px solid #f5f5f5;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}
.skckill_bottom ul>li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #333;
}
.skckill_bottom ul>li>a>img{
    width: 159px;
    height: 159px;
}
.skckill_bottom ul>li>a>h3{
    width: 180px;
    height: 20px;
    overflow: hidden;
}

.skckill_bottom ul>li>a .price{
    text-align: left;
}

.price span{
    font-size: 16px;
    font-weight: bold;
    color: #f60;
}

.price span:nth-child(2){
    font-size: 12px;
    color: #666;
    font-weight: lighter;
    margin-left: 10px;
}

.skckill_bottom .progress i{
    display: inline-block;
    width: 100px;
    height: 6px;
    background: url("./../images/icons.png") no-repeat;
    background-position: -561px -74px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.skckill_bottom .progress b{
    display: inline-block;
    width: 100px;
    height: 6px;
    background: url("./../images/icons.png") no-repeat;
    background-position: -561px -94px;
    position: absolute;
    left: -50%;
    top: 0;
}

.skckill_bottom img{
    border-radius: 5px;
    margin-left: 10px;
    vertical-align: top;
}

.floor{
    width: 100%;
    height: 567px;
    margin-top: 20px;
}

.floor_in{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.floor_in .floor_left{
    height: 100%;
    width: 590px;
    background: white;
}

.floor_top{
    height: 47px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f9f9f9;
}

.floor_top>p{
    height: 20px;
    margin-top: 13px;
    font-size: 18px;
    font-weight: bold;
    color: #33AE75;
    padding-left: 20px;
    border-left: 5px #33AE75 solid;
}
.floor_top>p>span{
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.floor_top ul>li{
    line-height: 47px;
    float: left;
    margin-right: 20px;
}
.floor_top ul>li>a{
    font-size: 14px;
    color: #333;
}

.floor_top>ul>li>a:hover{
    color: #f90;
}

.floor_center{
    width: 100%;
    height: 360px;
}

.floor_center .floor_center_left{
    width: 190px;
    height: 100%;
    position: relative;
}

.floor_center .floor_center_left>a{
    display: inline-block;
    height: 100%;
    width: 100%;
    color: #fff;
}

.floor_center .floor_center_left>a>img{
    height: 100%;
    width: 100%;
}
.floor_center_left>a .cover{
    width: 160px;
    height: 60px;
    background: rgba(0,0,0,0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}

.cover h4{
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
}

.cover p{
    font-size: 12px;
}
.floor_center .floor_center_right{
    height: 100%;
    width: 400px;
    overflow: hidden;
    background: #fff;
}
.floor_center_right ul{
    width: 402px;
    background: white;
}
.floor_center_right ul>li{
    width: 200px;
    height: 180px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    text-align: center;
}
.floor_center_right ul>li>a{
    color: #333;
}
.floor_center_right ul>li>a>h4{
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}
.floor_center_right ul>li>a>p{
    font-size: 12px;
    color: #33AE75;
}
.floor_center_right ul>li>a>img{
    width: 120px;
    height: 120px;
}

.floor_contentList{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #f5f5f5;
}
.floor_contentList ul{
    width: 593px;
}
.floor_contentList ul>li{
    float: left;
    width: 201px;
    height: 109px;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.floor_contentList ul>li:first-child{
    width: 190px;
}
.floor_contentList ul>li h4{
    font-size: 16px;
    color: #333;
    margin-top: 15px;
    line-height: 30px;
}
.floor_contentList ul>li p{
    font-size: 12px;
    color: #33AE75;
}
.floor_contentList ul>li img{
    float: right;
    width: 84px;
    height: 84px;
}
.floor_contentBottom{
    width: 100%;
    border-top: 1px solid #f5f5f5;
    background: #fff;
}
.floor_contentBottom ul>li{
    float: left;
    padding: 9px;
    padding-bottom: 0;
}
.floor_contentBottom ul>li img{
    width: 80px;
    height: 30px;
}

.floor_right{
    width: 590px;
    height: 100px;
}

.end{
    width: 100%;
    height: 50px;
}

.end_in{
    position: relative;
}

.end_in p{
    height: 50px;
    width: 120px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.end_in p>span{
    position: absolute;
    height: 2px;
    width: 100px;
    display: inline-block;
    left: -100px;
    background: #cccccc;
    top:50%;
    transform: translateY(-50%);
}
.end_in p>span:nth-child(2){
    right: -100px;
    left: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    background: #333;
    text-align: center;
}

.sidebar a{
    display: inline-block;
    margin: 0;
    color: #f90;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.sidebar a:hover{
    color: #fff;
    background: #f90;
}

.sidebar_top{
    position: absolute;
    top:128px;
    left: 0;
    height: 307px;
    width:35px;
}

.cart{
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 10px 0;
}

.cart:hover{
    background: #f90;
}

.cart a{
    width: 20px;
    color: #fff;
}

.cart a:hover{
    color: #fff;
    background: none;
}

.cart a>b{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: #d00;
    border-radius: 3px;
}

.sidebar_bottom{
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 105px;
    width: 100%;
    text-align: center;
}

.sidebar_bottom a{
    margin-bottom: 5px;
}